NODE_ENV=production
PORT=5001
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_VALUE

# Firebase Admin (do NOT commit credentials)
FIREBASE_PROJECT_ID=novacart-4dcd8
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Shiprocket
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_BASE_URL=https://apiv2.shiprocket.in/v1/external

# Cashfree PG
CASHFREE_ENV=sandbox
CASHFREE_CLIENT_ID=
CASHFREE_CLIENT_SECRET=
CASHFREE_API_VERSION=2025-01-01
